@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000000 ;
    --dark : #333;
    --grey: #aeaeae;
    --bluesky: #46a7c7;
    --light: #fff;

}

/* General Style */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%
}

video {
    width: 100%;
}

.container {
    position: relative;
    z-index: 5;
    padding: 0 4rem;
    margin: 0 auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    align-items: center;
    justify-content: center;
}

.column-1 {
    margin-right: 1.5rem;
}

.column-2 {
    margin-left: 1.5rem;
}

.text {
    font-size: 1rem;
    color: var(--dark);
    line-height: 1.6;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 0.85rem 5rem;
    color: var(--light);
    background-color: var(--dark);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: var(--black);
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* End of General Style */


/* Navigation Bar */
header {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--grey);

}
nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    background-color: var(--light);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 2.5rem;
}

.logo p {
    text-transform: uppercase;
    font-size: 1.25rem;
}

.logo span {
    color: var(--grey);
}

.links ul {
    display: flex;
}

.links a {
    color: var(--dark);
    display: inline-block;
    padding-right: 16px;
    text-transform: uppercase;
    line-height: 1;
    transition: 0.3s;
}

.links a:hover {
    color: var(--black);
    font-weight: 500;
}

/* End of Navigation Bar */

/* Section 1 : Header Content */

.header-content .container.grid-2 {
    grid-template-columns: 3.5fr 2.5fr;
    padding: 2rem 1.5rem;
    text-align: left;
}

.header-title {
    font-size: 3rem;
    line-height: 1;
}

.header-content .text {
    margin: 1.5rem 0 3rem 0;
    padding-right: 4.5rem;

    font-size: 1.3rem;
}

/* End of Section 1 : Header Content */

/* Section 2 : Information */

.info-header .info-title {
    font-size: 2rem;
    margin: 1rem 0;
}

.info-header .text {
    margin-bottom: 2rem;
    overflow-wrap: break-word;
}

.info-header .text-label {
    font-size: 0.9rem;
    color: var(--grey)
}

.info-cards {
    display: flex;
}

.info-card {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.info-card .card-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.info-card .text {
    padding: 0.75rem 0 2rem 0;
    inline-size: 10rem;
    overflow-wrap: break-word;
}

.info-card img {
    position: relative;
    top: 0.5rem;
    width: 6rem;
    margin-right: 2rem;
}

.info-card .btn {
    font-size: 1rem;
    padding-right: 0.75rem;
    padding-left: 0.5rem;
}

.info-content .container.grid-2 {
    grid-template-columns: 4fr 2fr;
    padding: 2rem 1.5rem;
    text-align: left;
}

/* End of Section 2 : Information */

/* Section 3 : Course */

.section {
    padding: 2rem 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    margin: 3rem 0;
}

h1.title {
    text-align: center;
}

.cards {
    display: flex;
    background-color: var(--grey);
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: var(--light);
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.card img {
    width: 22rem;
}

.card .card-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 1rem 0;
    padding-right: 3rem;
}

.card .text {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    inline-size: 17rem;
    overflow-wrap: break-word;
}

.card-content {
    padding: 1.5rem;
}

.cards .container.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 3.5rem;
    text-align: left;
}

/* End of Section 3 : Course */

/* Section 4 : Thesis Exhibit */

.exhibit-content .container.grid-2 {
    grid-template-columns: 3.5fr 2.5fr;
    padding: 2rem 1.5rem;
    text-align: left;
}

.exhibit-content .column-2 {
    position: relative;
    top: -7.3rem;
}

.exhibit-content .container.grid-2 .column-2 .card-title {
    inline-size: 8rem;
    overflow-wrap: break-word;
}

/* Footer */

.footer-content {
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    margin: 2rem 0;
}

/* ========================= Responsive ===================== */
/* for small devices */

@media screen and (max-width: 420px) {
    .card-wrap {
    margin-left: 0.75rem;
    }
}

@media screen and (max-width: 960px) {
    
    .container.grid-2 {
        display: flex;
        flex-direction: column;
    }

    .container.grid-2 .column-1 {
        margin-left: 1rem;
    }

    .container.grid-2 .column-2 {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 0;
    }

    .exhibit-content .container.grid-2 .column-2 {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 800px) {
    .hamburger-menu {
        z-index: 5;
    }
    
    .links {
        display: none;
    }

    nav .container {
        justify-content: center;
    }
}

@media screen and (max-width: 860px) {
    .header-content .header-title,
    .header-content .text {
        margin-left: 1rem;
    } 
}

/* Hamburger Menu */

.hamburger-menu {
    width: 2rem;
    position: relative;
    bottom: 4rem;
    left: 1rem;
}



