.SearchResults {
    width: 45%;
    height: 500px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(4,9,7,.7);
  }  

.SearchResults h2 {
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-align: center;
  margin: 0.8rem 0;
}
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
    .trackinfo img {
      display: none;
    }
  }