.Playlist {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    overflow-y: scroll;
    width: 37rem;
    height: 500px;
    padding: .88rem;
    margin: 0 1rem;
    background-color: rgba(4,9,7,.7);
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    padding: 0.6rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }

  .Playlist input::placeholder {
    font-weight: 600;
    color:#989595;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 12rem;
    padding: 1rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #c36729;
    text-align: center;
    font-size: 1rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 800;
  }
  
  .Playlist-save:hover {
    background-color: rgb(230, 102, 17);
  }

  .button {
    display: flex;
    justify-content: center;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1200px) {
    .Playlist {
      width: 30rem;
    }
  }

  @media only screen and (max-width: 650px) {
    .Playlist {
      width: 90%;
    }
  }