.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 500px;
    padding: 1rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    padding: 0.6rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }

  .Playlist input::placeholder {
    font-weight: 600;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 12rem;
    padding: 1rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: 1rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 800;
  }
  
  .Playlist-save:hover {
    background-color: rgba(108, 65, 233, .7);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }