.Track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  }
  
  .Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  
  .Track-action:hover {
    color: rgba(265, 265, 265, .5);
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .Track-information h3 {
    margin-bottom: .4rem;
    font-weight: 500;
  }
  
  .Track-information p {
    font-size: .83rem;
    font-weight: 400;
    color: rgba(256, 256, 256, 0.8);
  }

  .trackinfo img {
    width: 4.5rem;
  }

  .trackinfo {
    display: flex;
    flex-direction: row;
  }